.card{
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
    transition: transform 0.25s ease;
    background-color: rgb(194, 194, 194);
}

.imgContainer img{
    width: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.imgContainer{
    overflow: hidden;
    display: block;
}

.card:hover .imgContainer>img{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

.card:active{
    transform: scale(0.95);
}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
}